target/
!.mvn/wrapper/maven-wrapper.jar


### Delphi ###
*.dsk
*.~dsk
*.dcu
*.~dcu
*.~ddp
*.~dfm
*.~pas
*.ddp
firebird.log
storage.ini






### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
tomcat/

# VS Code History
.history